/*  Medidas Absolutas 
        cm (centímetro), mm (mlímetro), in (pôlegada), px(pixel), pt (ponto), paica

    medidas Relativas
        em (rltv. ao tmnh. atual da fonte.), ex (rltv. a altr X), rem (rltv. ao root, contida no body),
        vw (rltv. a larg do viewport), vh (rltv. a altr do viewport), %. 

*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font: normal normal 1.5em 'Work Sans', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    /*
    
    weight: peso, espessura
    width: largura
    height: altura
    shorthand: normal bold 1em 'Work Sans', sans-serif;
    */
}

h1, h2 {
    font: italic bold 1em Verdana;
}